* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    max-width: 100vw;
}
.container-main {
    width: 100%;
    padding: 5%; 
}
img {
    width: 50%;
    margin: 0 auto;
}
