* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px; 
}

ul {
    list-style: none;
}

body {
    max-width: 100vw;
    font-family: 'Muli', sans-serif;
}
/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    padding: 0;
    color: #666666;
}

.section h2 {
    margin-bottom: 5%; 
}

p {
    font-family: 'Noto Serif', serif;
    line-height: 1.45; 
    font-size: 1.4rem; 
    color: #666666;
    text-align: center;
}

.container-main {
    width: 100%;
}
.container {
    padding: 5%; 
}
img {
    width: 50%;
    margin: 0 auto;
}

/** HEADER **/
header {
    background-color: #6AAAFF;
}

#projects, #contact-me {
    background-color: #f2f2f5; 
}

header h1 {
    margin: 10% auto;
    width: 100%; 
    font-weight: 700; 
    font-size: 4em; 
    font-style: italic;
    line-height: 1.2; 
}

header h2 {
    font-style: italic;
    font-weight: 400;
    line-height: 1.3;
    font-size: 1.8rem;
}
section {
    margin: 15% auto; 
}
section h2 {
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 700; 
    margin: 4% auto; 
    position: relative;
}
section h2::after {
    /* content: '';
    position: absolute;
    height: 5px;
    background-color: #6AAAFF;
    left: 30%;
    width: 40%; 
    bottom: -20%;
    margin: 20% auto; */
}

/* PROJECTS SECTION */
.project {
    display: flex;
    flex-direction: column; 
    width: 90%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    padding: 4%;
    text-align: center;
    align-items: center;
    background-color: white; 
    margin: 2% auto;  
}

.project .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2% auto;
}
.project-content {
    color: #666666; 
}
.project-content h3 {
    font-size: 2rem; 
    margin: 2% auto;
}
.project-content img {
    width: 100%; 
}
.project-content p {
    margin: 2% auto; 
}

.tech-stack li, .skills-list li {
    background-color: #f2f2f5;
    padding: 4%;
    margin: 3% auto; 
}
.skills-list li {
    display: inline-block;
}

.skills-list {
    margin: 2% auto; 
    text-align: center; 
}
.skills-box {
    margin: 0 auto; 
}

/***** CONTACT ME SECTION *****/

fieldset {
    border: none; 
    display: flex;
    flex-direction: column; 
}

form {
    text-align: center; 
}
.form-group {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin: 4% auto; 
}

input, textarea {
    width: 80%;
    margin: 2% auto;
    border: 1px solid #f2f2f5;
    padding: 2%; 
    font-size: 1.5rem; 
}
label {
    font-size: 1.5rem; 
}

legend {
    font-size: 2rem; 
}
.btn {
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #f2f2f5; 
    width: 80%;
    background-color: #6AAAFF;
    font-size: 1.5rem;
}